<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Casa</title>
</head>

<header>

    <div class="container">

       <div class="pesquisa">
           <img src="{{ url_for('static', filename='uploads/oceana_logo.png') }}" alt="logo" id="logo">
       </div>

       <input type="text" placeholder="Pesquisar" id="barra-pesquisar">
       <img src="{{ url_for('static', filename='uploads/lupa.png') }}" alt="lupa" id="lupa">

       <a href="{{ url_for('register') }}">
       <div class="cadastro">
           <p>Cadastre-se</p>
       </div>
       </a>

       <a href="{{ url_for('login') }}">
       <div class="login">
           <p>Login</p>
       </div>
       </a>

</header>

<body>
    
</body>
</html>