<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fazer Login</title>
</head>
<body>
    <h2>Fazer Login</h2>
    <form method="POST">
        Email: <input type="email" name="email" required><br>
        Senha: <input type="password" name="senha" required><br><br>
        <button type="submit">Fazer login</button>
    </form>
    <a href="{{ url_for('register') }}">Primeira vez no site? Faça agora uma nova conta!</a>
</body>
</html>