<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastre-se</title>
</head>
<body>
    <h2>Cadastre-se</h2>
    <form method="POST">
        Nome: <input type="text" name="nome" required><br>
        Email: <input type="email" name="email" required><br>
        CPF: <input type="text" name="cpf" required><br>
        Senha: <input type="password" name="senha" required><br><br>
        <button type="submit">Cadastrar</button>
    </form>
    <a href="{{ url_for('login') }}">Já tem conta? Faça login!</a>
</body>
</html>