<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastre-se</title>
</head>

<header>
    <a href="{{ url_for('index') }}">
    <div class="pesquisa">
        <img src="{{ url_for('static', filename='uploads/oceana_logo.png') }}" alt="logo" id="logo">
    </div>
    </a>
</header>

<body>
    <h2>Cadastre-se</h2>
    <form method="POST">
        Nome: <input type="text" name="nome" required><br>
        Email: <input type="email" name="email" required><br>
        CPF (somente números): <input type="text" name="cpf" required><br>
        Senha: <input type="password" name="senha" required><br><br>
        
        <button type="submit">Cadastrar</button>
    </form>
    <p>Senha necessita de: 8+ caracteres, 1 maiuscula, 1 número e 1 caracter especial</p>
    <a href="{{ url_for('login') }}">Já tem conta? Faça login!</a>
</body>
</html>
