<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Lista de tarefas</title>
</head>
<body>
    <h1>Minha Lista de Tarefas</h1>

    <form method="POST" action="/add">
        <input type="text" name="descricao" placeholder="Digite uma nova tarefa..." required>
        <button type="submit">Adicionar</button>
    </form>

    <!-- Aqui eu quero exibir as tarefas que eu já digitei -->
     <ul>
        {% for tarefa in tarefas %}
            <li>
                {{ tarefa.descricao }}
                <!-- Eu quero ter a possibilidade de deletar uma tarefa se eu quiser -->
                <a href="/delete/{{ tarefa.id }}">[Remover]</a>
            </li>
        {% endfor %}
     </ul>
</body>
</html>