body{
    background-color: #B3E5E9;
    color: #333;
    text-align: center;
    padding: 20px;
}

header{
    background-color: none;
    color: white;
    padding: 5px;
    border-radius: 10px;
}

.pesquisa{
    background-color: #6495ED;
    width:135px;
    height:135px;
    padding: 1px;
    border-radius: 10px;
    margin-left: 18px;
    position: relative;
}

#logo{
    display: flex;
    margin: -23px;
    width: 180px;
    border-radius: 6px;
}

#barra-pesquisar{
    width: 1000px;
    padding: 15px;
    padding-left: 10px;
    font-size: 25px;
    position: absolute;
    right: 640px;
    top: 70px;
    border: 3px solid;
    border-color: #ADADAD;
    outline: none;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    margin-bottom: 11px;
    margin-left: -50px;
    background-color: #4246B8;
    padding: 8px;
    font-size: 40px;
    border: 3px solid;
    border-color: #7F7F7F;
}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
}

.menu li:hover{
    font-size: 41px;
    transition: all 0.2s ease-out;
    background-color: #6495ED;
}

footer{
    background-color: #6495ED;
    color: white;
    width: 1600px;
    padding: 25px;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    bottom: 5px;
    left: 260px;
}

#developer{
    position: absolute;
    bottom: 0px;
    right: 10px;
}

#copyright{
    position: absolute;
    bottom: 0px;
    right: 230px;
}

#politicas{
    position: absolute;
    bottom: -10px;
    right: 420px;
    font-size: 20px;
}

#politicas a{
    color: white;
}

#politicas a:hover{
    color: whitesmoke;
}

#reclame-aqui{
    position: absolute;
    bottom: -10px;
    right: 1668px;
    font-size: 39px;
    background-color:#4246B8;
    border: 3px solid;
    border-color: #7F7F7F;
    border-radius: 5px;
    padding: 8px;
}

#reclame-aqui a{
    text-decoration: none;
    color: white;
}

#reclame-aqui:hover{
    font-size: 40px;
    transition: all 0.2s ease-out;
    background-color: #6495ED;
}

.banner1{
    background-color: #4246B8;
    position: absolute;
    top: 190px;
    left: 300px;
    height: 350px;
    width: 1000px;
    border: 3px solid;
    border-radius: 75px;
    border-color: #6B6FE5;
}

.banner1 h2{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 70px;
    left: 85px;
    max-width: 500px;
}

#geladeira{
    position: absolute;
    top: 25px;
    right: -20px;
    width: 300px;
    transform: rotate(4deg);
}

#sofa{
    position: absolute;
    top: 180px;
    right: 25px;
    width: 300px;
}

#ps5{
    position: absolute;
    top: 15px;
    right: 60px;
    width: 280px;
}

#fundo{
    position: absolute;
    top: -5px;
    right: -50px;
    width: 450px;
}
